
<ion-view title="{{'app' | translate}}" ng-controller="ReaderCtrl" onload="onDeviceReady()">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
 
  <div>
  <ion-content class="background  home-container responsive-sm" align="center" style="height:100%">  		
      
    <div layout="column" style="height:100%">
    
    <div style="height:5%">{{obj_header.book_name}}: {{obj_header.chapter}}</div>
    <md-content style="height:85%; background-color:black">
      <div style="text-align: justify;
    text-justify: inter-word;" ng-repeat="x in obj_reading">
      <b><span class="verse">{{x.verse}}. </span></b><span class="verse">{{x.data}}</span>
      <br><br>
      </div>
    </md-content>
    <div style="height:10%">Something here</div>
  </div>
  <core-progress state="progress"></core-progress>


  </ion-content>
 </div>

</ion-view>