<ion-view title="{{'app' | translate}}" ng-controller="ReaderCtrl">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
   <ion-nav-buttons side="right">
    <md-menu>
   <!-- Trigger element is a md-button with an icon -->
   <md-button ng-click="$mdMenu.open($event)" class="md-icon-button" aria-label="Open sample menu">
     <ng-md-icon icon="language"></ng-md-icon>
   </md-button>
<md-menu-content>
     <md-menu-item>
        <md-button ng-click="change_language('ES')">     
          <div class="locale_icon" >
            <ng-include src="'resources/apps/home/es.svg'" ></ng-include>
            <p class="locale_word">&emsp;{{'translate.español' | translate}}&emsp;&emsp;</p>
          </div>
        </md-button>
     </md-menu-item>
    <md-menu-item>
        <md-button ng-click="change_language('EN')">     
          <div class="locale_icon" >
            <ng-include src="'resources/apps/home/en.svg'" ></ng-include>
            <p class="locale_word">&emsp;{{'translate.ingles' | translate}}&emsp;&emsp;</p>
          </div>
        </md-button>
     </md-menu-item>
   </md-menu-content>
  </md-menu>
  </ion-nav-buttons>
  <div class="bar bar-subheader bar-dark">
      <h2 class="title">{{pageTitle}}: {{obj_header.chapter}}</h2>
  </div>    
    

  <ion-content class="background  home-container responsive-sm" align="center" style="height:88%">  		
    <md-content style="height:100%;" class="background has-header">
      <div style="text-align: justify; text-justify: inter-word;" ng-repeat="x in obj_reading">
          <b><span class="verse">{{x.verse}}. </span></b> <span class="verse">{{x.data}}</span>
          <br><br>
      </div>
    </md-content>
  </ion-content>
  <div class="bar bar-footer bar-positive">
          <h1 class="title">Reina Valera 1960</h1>
  </div>
  <core-progress state="progress"></core-progress>

</ion-view>