<ion-tabs cache-view="false" selectedIndex="0" class="tabs-icon-top tabs-color-active-positive">
    <!-- Dashboard Tab -->
    <ion-tab class=""  title="Biblia" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/app/reader_bible/tab_bible">
        <ion-nav-view name="tabBible" cache-view="false"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Comentario Bíblico" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/app/reader_bible/tab_commentary">
        <ion-nav-view name="tabCommentary" cache-view="false"></ion-nav-view>
    </ion-tab>
</ion-tabs>
