<ion-view title="Creed en sus profetas">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
 
  <ion-content class="has-header background  home-container responsive-sm" align="center">
  		<div class="main-logo">
  			<img src="resources/apps/home/creed-logo.png" >
  		</div>
  		
		<div layout-xs="row" layout-sm="column" align="center" class = "row menu-icons responsive">
	   		<div class = "col" >
	   			<a  href="#/app/reader_bible">
	   				<img src="resources/apps/home/bible.png"/> 
	   				<h5>Reavivados por su palabra</h5>
	   			</a>
	   		</div>
	   		<div class = "col" >
	   			<a  href="#/app/reader_bible">
	   				<img src="resources/apps/home/egw.png" /> 
	   				<h5>Espíritu de profecía - EGW</h5>
	   			</a>
	   		</div>
		</div>
		<br>
		<br>
		<br>
		<div layout-xs="row" layout-sm="column" align="center" class = "row menu-icons responsive">
	   		<div class = "col" >
	   			<img src="resources/apps/home/calendar.png" /> 
	   			<h5>Calendario</h5>
	   		</div>
	   		<div class = "col" >
	   			<img src="resources/apps/home/settings.png" /> 
	   			<h5>Ajustes</h5>
	   		</div>
		</div>
		<br>
		<br>
		<br>
  </ion-content>
 

</ion-view>