<ion-view cache-view="false" align="left">
  <ion-nav-title style="white-space:normal; font-size:0.9em">
    {{book.name | translate}}: {{verse[0].chapter}}
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-music-note" aria-label="Hear the audio" ng-if="!conditionPlayer && chapter.audio" ng-click="handlePlayer()"></a>
    <a class="button button-icon icon ion-android-share-alt" aria-label="Share in social networks" ng-if="conditionPlayer && chapter.audio"
      ng-click="handlePlayer()"></a>
    <a class="button button-icon icon ion-refresh" aria-label="Refresh" ng-click="onListReading()"></a>
    <a class="button button-icon icon ion-earth" aria-label="Open language menu" menu-toggle="right"></a>
  </ion-nav-buttons>
  <ion-content class="home-container responsive-sm " align="center" style=" padding-bottom:40px" overflow-scroll="false">
    <div style="height:100%" class="has-header has-footer">
      <div>{{book.name | translate}}: {{verse[0].chapter}}</div>
      <div ng-attr-id="{{'title'+$index}}" class="text-content-show" ng-repeat="x in verse | filter:filter" ng-click="setClass($index,x);">
        <b>
          <span class="verse">{{x.verse}}. </span>
        </b>
        <span class="verse">{{x.data}}</span>
        <br>
        <br>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div id="audio_player_container" ref="player ">
    </div>
    <i align="center" id="over" class="icon ion-ios-copy footer-icon col col-30" ng-click="shareSocial( 'copy') " title="{{'tooltip.copy' | translate}}"
      aria-label="{{'tooltip.copy' | translate}}"></i>
    <i align="center" id="over" class="icon ion-social-twitter footer-icon col col-30" ng-click="shareSocial( 'twitter') " title="{{'tooltip.twitter' | translate}}"
      aria-label="{{'tooltip.twitter' | translate}}"></i>
    <i align="center" id="over" class="icon ion-social-facebook footer-icon col col-30" ng-click="shareSocial( 'facebook') "
      title="{{'tooltip.facebook' | translate}}" aria-label="{{'tooltip.facebook' | translate}}"></i>
    <i align="center" id="over" class="icon ion-social-whatsapp footer-icon col col-30" ng-click="shareSocial( 'whatsapp') "
      title="{{'tooltip.whatsapp' | translate}}" aria-label="{{'tooltip.whatsapp' | translate}}"></i>
  </ion-footer-bar>
</ion-view>
